<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserinput from "./components/HandingUserinput.vue";
import AttibuteBindings from "./components/AttibuteBindings.vue";
import CoditionsAndLoops from "./components/CoditionsAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br />
    <FormBinding />
    <br /><br />
    <CoditionsAndLoops />
    <br />
    <br />
    <AttibuteBindings />
    <HandingUserinput />
    <CalComponent></CalComponent>
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
